.products-section {
	background-color: #f5f6f7;
	padding: 30px 20px;
	text-align: center;
}

.product-cart-lates {
	width: 200px;
	height: 350px;
	background-color: rgb(255, 255, 255);
	position: relative;
}
span.pro-title {
	font-size: 15px;
	text-transform: uppercase;
	padding: 5px 30px;
}
span.pro-title:hover {
	color: blue;
	font-size: 15px;
	font-family: sans-serif;
	font-weight: 700;
}

.price {
	padding: 5px;
}
span.title-price {
	margin-right: 86px;
}
.product-img {
	width: 200px;
	height: 200px;
}
.product-img img {
	height: 100%;
	width: 100%;
}
.hear-icons {
	position: absolute;
	top: 11px;
	left: 152px;
	display: none;
}
.product-cart-lates:hover .hear-icons,
.add-to-cartbtn {
	display: block;
}
.product-cart-lates:hover .add-to-cartbtn {
	display: block;
}
.off-price {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	background-color: red;
	color: white;
	border-radius: 5px;
}
.add-to-cartbtn {
	min-width: 125px;
	padding: 10px 13px;
	display: inline-block;
	max-width: 180px;
	white-space: nowrap;
	overflow: hidden;
	background-color: blue;
	width: auto;
	color: white;
	border-radius: 29px;
	margin-top: 30px;
	display: none;
}
.rating-star:before {
	content: '\2605\2605\2605\2605\2605';
	background: linear-gradient(
		90deg,
		var(--color-rating-filled) var(--percent),
		rgba(var(--color-foreground), 0.15) var(--percent)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
